body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#projectSelect {
  margin-top: 20px;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

canvas {
  max-width: 100%;
}

